* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    width: 100%;
}

.main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
}

.card {
    height: 130px;
    width: 100px;
    border: 5px solid black;
    border-radius: 10px;
    margin: 10px; 
}

.card img {
    height: 100%;
    width: 100%;
    border-radius: 10px; 
}
